@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<h2>Index</h2>

<head>
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>*@

</head>
<style>
    .success{
        min-height: 200px;
        max-height: 200px;
        border:1px solid;
    }
    .danger {
        min-height: 200px;
        max-height: 200px;
        border: 1px solid;
    }
</style>





<div class="container">
    <div class="jumbotron">
        <h1>Hello, world!</h1>
        <p>...</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12 success">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <td>
                            Junaid
                        </td>
                        <td>
                            Liaqat
                        </td>
                        <td>
                            Hassan
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Junaid
                        </td>
                        <td>
                            Liaqat
                        </td>
                        <td>
                            Hassan
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Junaid
                        </td>
                        <td>
                            Liaqat
                        </td>
                        <td>
                            Hassan
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Junaid
                        </td>
                        <td>
                            Liaqat
                        </td>
                        <td>
                            Hassan
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Junaid
                        </td>
                        <td>
                            Liaqat
                        </td>
                        <td>
                            Hassan
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 danger">
            sfdgsfdg
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 success">
            dfrgasdgsd
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12 success">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <td>
                            Junaid
                        </td>
                        <td>
                            Liaqat
                        </td>
                        <td>
                            Hassan
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Junaid
                        </td>
                        <td>
                            Liaqat
                        </td>
                        <td>
                            Hassan
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Junaid
                        </td>
                        <td>
                            Liaqat
                        </td>
                        <td>
                            Hassan
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Junaid
                        </td>
                        <td>
                            Liaqat
                        </td>
                        <td>
                            Hassan
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Junaid
                        </td>
                        <td>
                            Liaqat
                        </td>
                        <td>
                            Hassan
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 danger">
            sfdgsfdg
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 success">
            dfrgasdgsd
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12 success">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <td>
                            Junaid
                        </td>
                        <td>
                            Liaqat
                        </td>
                        <td>
                            Hassan
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Junaid
                        </td>
                        <td>
                            Liaqat
                        </td>
                        <td>
                            Hassan
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Junaid
                        </td>
                        <td>
                            Liaqat
                        </td>
                        <td>
                            Hassan
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Junaid
                        </td>
                        <td>
                            Liaqat
                        </td>
                        <td>
                            Hassan
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Junaid
                        </td>
                        <td>
                            Liaqat
                        </td>
                        <td>
                            Hassan
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 danger">
            sfdgsfdg
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 success">
            dfrgasdgsd
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12 success">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <td>
                            Junaid
                        </td>
                        <td>
                            Liaqat
                        </td>
                        <td>
                            Hassan
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Junaid
                        </td>
                        <td>
                            Liaqat
                        </td>
                        <td>
                            Hassan
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Junaid
                        </td>
                        <td>
                            Liaqat
                        </td>
                        <td>
                            Hassan
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Junaid
                        </td>
                        <td>
                            Liaqat
                        </td>
                        <td>
                            Hassan
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Junaid
                        </td>
                        <td>
                            Liaqat
                        </td>
                        <td>
                            Hassan
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 danger">
            sfdgsfdg
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 success">
            dfrgasdgsd
        </div>
    </div>
</div>
